/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, header, nav, main,
 section, article, footer, small {
   display: block;
 }

 html, body, header, nav, h1, a, ul, li,
 strong, main, section, img, div, h2, p,
 form, fieldset, label, input, textarea,
 button, article, footer, small, h3, h4 {
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    color: inherit;
    background: transparent;
  }

  body {
    display:block;
    font-family: sans-serif;
    background: #fff;
    margin: inherit;
  }

  ul {
    list-style: none;
  }

  .group:after {
    content:"";
    display:block;
    clear:both;
  }

/* Navbar elements */

 .Navbar {
   display:block;
   background: #026aa7;
   color:white;
 }

 .NavbarLogo {

 }

 .Navbar .button {

 }

 .Navbar .Boards {

 }

 .Navbar .User {

 }

/* board index view section */

.hidden {
  display: none;
}

.boards-index {

}

.BoardsIndexItem {
  float:left;
  font-weight: 700;
  line-height: 20px;
  min-height: 80px;
  padding: 8px 9pt;
  border-radius: 3px;
  color: white;
  background: #026aa7;
  width:160px;
  margin: 1pc 1pc 0 0;
}

.NewBoard  {
  float:left;
  padding: 8px 9pt;
  line-height: 20px;
  min-height: 80px;
  border-radius: 3px;
  color: white;
  background-color: #e2e4e6;
  color: #8c8c8c;
  width:160px;

  margin: 1pc 1pc 0 0;
}

.board-form {
  float:left;
  line-height: 20px;
  min-height: 18px;
  border-radius: 3px;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  width: 200px;
  margin: 1pc 1pc 0 0;
}

.form-head-container {
  display:block
}

.cancel-icon {
  float:right;
}

.form-create-board {
  float:left;
  font-size: 14px;
}

.form-title {
  border-top: 1px solid #ccc;
  padding-top: 5px;
  text-size: 12px;
}

.board-form > input {
  background: white;
  width:198px;
  border: 1px solid #ccc;
}

/* board detail view section */

.board-detail-view {
  background-color: rgb(0, 121, 191);
}

.board-title {
  color:white;
  font-weight: 700;
}

.name-update {
  float:left;
  position:absolute;
  display:block;
  background: white;
  color:black;
  border: 1px solid #ccc;
  min-height: 60px;
  width: 220px;
  border-radius: 3px;

}

.name-update-container {
  width:220px;
}

.name-update-title {
  float:left;
}

.name-update-cancel {
  float:right;
}

.name-update > input {
  float:left;
  border: 1px solid rgb(0, 121, 191);
}

.name-update > button {
  float:left;
  background: #61bd4f;
  color:white;
  border-radius: 3px;
  font-weight: 700;
  padding: 5px 10px;
}

.list {
  border-radius: 3px;
  background: #eee;
  float:left;
  font-weight: 700;
  width: 270px;
  margin: 0 5px;
  height: 100%;
  vertical-align: top;
}

.new-list {
  border-radius: 3px;
  background: #026aa7;
  margin: 0 5px;
  width: 270px;
  float:left;
  color: rgba(255,255,255,.7);
}

.list-form {
  float:left;
  position:absolute;
  display:block;
  background: white;
  color:black;
  border-radius: 3px;
  border: 1px solid #ccc;
  min-height: 60px;
  width: 220px;
}

.list-form-input {
  border: 1px solid rgb(0, 121, 191);
}

.list-form-save {
  background: #61bd4f;
  color:white;
  border-radius: 3px;
  font-weight: 700;
  padding: 5px 10px;
}

.list-form-cancel {
}


/* Auth HTML pages:*/

 .authForm {
  background: #eee;
  width: 500px;
  margin:auto;
  text-align: center;
 }

.temp {
  display:none;
}
