/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, header, nav, main,
section, article, footer, small {
 display: block;

}

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small, h3, h4 {
  margin: 0;
  border: 0;
  padding: 0;
  border:0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

button {
  cursor: pointer;
}

button:focus {
  outline:0;
}

input:focus {
  outline:0;
}

textarea:focus {
  outline:0;
}

body {
  display:block;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: white;
  margin: inherit;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
  width:100%;
  overflow-y:hidden;
}

.group:after {
  content:"";
  display:block;
  clear:both;
}

/* Navbar elements */

.App {
  height:100%;
  z-index: -1;
}

#content {
  height:100%
}

.navbar {
 display:block;
 background: #026aa7;
 color:white;
 font-size: 14px;
 font-weight: 700;
 line-height: 30px;
 padding: 5px 5px;
}

.navbar-logo {
  display: block;
  position: absolute;
  left: 50%;
  text-align: center;
}

.navbar-button {
  padding: 0 8px;
  margin-right: 8px;
  border-radius: 3px;
  background: #4F96BF;
}

.navbar-button:hover {
  background: #63A2C6;
}

.navbar-search-container {
  float:left;
}

.boards-button {
  float:left;
  padding:0;
  padding-left: 26px;
}

.boards-button-text {
  float:left;
  padding: 0 8px;

}

.boards-button-icon {
  line-height: 30px;
  height:30px;
  width:30px;
  font-size: 16px;
  left:6px;
  position:absolute;
  text-align: center;
}

.user-button {
 float:right;
 padding:0;
}

.boards-list {
 display:block;
}

.user-button-initials {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: #d6dadc;
  color: #4D4D4D;
  font-size: 12px;
  width:30px;
  font-weight: bold;
  text-align: center;
  float:left;
}

.user-button-name {
  padding: 0 8px;
  float:left;
}

/* board index view section */

.hidden {
  display: none;
}

.boards-index {
  padding: 16px;
  margin-top: 16px;
}

.icon-container {
  position:absolute;
  display: block;
  text-align: center;
  top:0;
  left: -38px;
  height:30px;
  width:30px;
  line-height: 30px;
  color: #4D4D4D;
}

.boards-index-title-container {
  position:relative;
  margin-left:38px;
}

.boards-index-title {
  padding-bottom: 12px;
  color: #4D4D4D;
  display:inline-block;
  margin-top: 3px;
  line-height: 24px;
  font-size: 16px;
  font-weight: bold;
}

.user-boards {
  margin-bottom: 20px;
}

.shared-boards {

}

.board-index-item-wrapper {
  margin-right: 16px;
  margin-bottom: 16px;
  float:left;
  font-weight: 700;
  line-height: 20px;
  min-height: 80px;
  border-radius: 3px;
  color: white;
  width:246px;
  display: block;
  padding: 8px 12px;
  background: #026aa7;
}

.board-index-item-wrapper:hover {
  background:#005B90;
}

.boards-index-item-title {
  display: block;
  text-align: left;
}

.new-board  {
  float:left;
  margin-right: 16px;
  text-align: center;
  line-height: 20px;
  min-height: 80px;
  line-height: 80px;
  padding: 8px 12px;
  border-radius: 3px;
  color: white;
  width:246px;
  background-color: #e2e4e6;
  color: #8c8c8c;
}

.new-board:hover {
  background:#D6DADC;
}

.board-form {
  float:left;
  line-height: 20px;
  min-height: 18px;
  border-radius: 3px;
  color: black;
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px;
  width: 200px;
  margin: 1pc 1pc 0 0;
}

.form-head-container {
  display:block
}

.cancel-icon {
  float:right;
}

.form-create-board {
  float:left;
  font-size: 14px;
}

.form-title {
  border-top: 1px solid #ccc;
  padding-top: 5px;
  text-size: 12px;
}

.board-form > input {
  background: white;
  width:198px;
  border: 1px solid #ccc;
}

/* board detail view section */

.board-detail-view {
  width:100%;
  height: calc(100%);
  background-color: rgb(0, 121, 191);
  /*margin-bottom: 10px;*/
}

.board-header {
  z-index: 1;
  position:relative;
  display:block;
  height: 30px;
  padding: 8px 4px 8px 8px;
}

.board-menu {
  color: white;
  float: right;
}

.board-menu-button {
  border-radius: 3px;
  height: 30px;
  line-height: 30px;
  margin-right: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 12px;
  text-decoration: underline;
  color:white;
  float:right;
}

.board-menu-button:hover {
  background: #006BA9;
}

.board-menu-options {
  z-index: 5;
  position:absolute;
  background: #E2E4E6;
  right:0;
  float:right;
  color:black;
}

.board-title-button {
  display:block;
  padding-left:4px;
  cursor: pointer;
  border-radius: 3px;
  float:left;
}

.board-title-button:hover {
  background: #006BA9;
}

.board-title {
  display: block;
  line-height: 30px;
  color:white;
  line-height: 30px;
  padding-left: 6px;
  padding-right: 8px;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  font-size: 18px;
}

.name-update {
  z-index: 5;
  float:left;
  position:absolute;
  display:block;
  background: white;
  color:black;
  border: 1px solid #ccc;
  min-height: 60px;
  width: 220px;
  border-radius: 3px;
}

.name-update-container {
  width:220px;
}

.name-update-title {
  float:left;
}

.name-update-cancel {
  float:right;
}

.name-update > input {
  float:left;
  border: 1px solid rgb(0, 121, 191);
}

.name-update > button {
  float:left;
  background: #61bd4f;
  color:white;
  border-radius: 3px;
  font-weight: 700;
  padding: 5px 10px;
}

.list-container {
  display:block;
  white-space: nowrap;
  background: transparent;
  background-color: rgb(0, 121, 191);
  width:100%;
  height: calc(100% - 96px);
  overflow-y: hidden;
  overflow-x:auto;
}

.list-container > div:first-child {
  margin-left:10px;
}

.list-wrapper {
  /*height: 100%;*/
  display:inline-block;
  width: 270px;
  vertical-align: top;
  margin-left: 5px;
  margin-right: 5px;
}

.list {
  display:inline-block;
  vertical-align: top;
  border-radius: 3px;
  background: #E2E4E6;
  font-weight: 700;
  width: 270px;
}

.new-list {

}

.add-list-button {
  font-size: 14px;
  display:inline-block;
  vertical-align: top;
  border-radius: 3px;
  background: #026aa7;
  width: 262px;
  padding:4px;
  height: 32px;
  color: rgba(255,255,255,.7);
  cursor:pointer;
}

.add-list-button:hover {
  background: #005586;
}

.add-list-text {
  padding: 7px;
  width:248px;
  line-height: 18px;
}

.list-form {
  display:block;
  background: #E2E4E6;
  color:black;
  border-radius: 3px;
  /*border: 1px solid #ccc;*/
  min-height: 60px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.list-form-input {
  overflow:hidden;
  word-wrap: break-word;
  display:block;
  font-weight: bold;
  font-size: 15px;
  width:245px;
  max-height: 20px;
  background: #DBDDDF;
  color: #4D4D4D;
  border-radius: 3px;
  border: 1px solid #aaa;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 4px;
  line-height: 18px;
  padding: 7px 7px;
}

.list-form-save {
  margin-left: 4px;
  background: #61bd4f;
  color:white;
  border-radius: 3px;
  font-weight: 700;
  padding: 5px 10px;
}

.list-form-cancel {
  font-size: 20px;
  font-weight: 400;
  color: #999;
  padding: 0 0 0 7px;
}

.list-title-container {
  position:relative;
  white-space: normal;
  line-height: 18px;
  min-height: 19px;
  padding:8px 34px 8px 10px;
}

.list-title {
  display: inline-block;
  color: #4D4D4D;
  font-size: 15px;
  line-height: 18px;
}

/*.list-title-container:hover {
  background:#CDD2D4;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}*/

.list-title-menu-button {
  cursor: pointer;
  display: block;
  position:absolute;
  top:0;
  right:0;
  padding:8px;
  font-size: 15px;
  line-height: 15px;
  color: #4D4D4D;
}

.pop-up-menu {
  border-radius: 3px;
  z-index: 150;
  line-height: 18px;
  display:block;
  position:absolute;
  top: 10px;
  left:240px;
  width:300px;
  background: white;
  border: 1px solid #D6DADC;
  border-bottom-color:#c4c9cc;
}

.user-menu {
  border-radius: 3px;
  z-index: 150;
  line-height: 18px;
  display:block;
  position:absolute;
  top: 40px;
  right: 10px;
  width:300px;
  background: white;
  border: 1px solid #D6DADC;
  border-bottom-color:#c4c9cc;
}

.pop-up-menu-header {
  font-size: 14px;
  color: #8c8c8c;
  font-weight: normal;
  text-align: center;
  border-bottom: 1px solid #D6DADC;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 8px;
}

.pop-up-menu-title {
  box-sizing: border-box;
  width: 280px;
  line-height: 36px;
  margin-left: auto;
  margin-right: auto;
}

.pop-up-menu-cancel {
  /*color: #4D4D4D;*/
  cursor: pointer;
  position:absolute;
  top:0;
  right:0;
  padding: 10px;
  padding-left: 4px;
}

.pop-up-menu-options-list {
  padding: 10px;
  padding-top: 0;
}

.pop-up-menu-option {
  color: #4d4d4d;
  font-size: 14px;
  display:block;
  line-height: 18px;
  padding: 6px 10px;
}

.pop-up-menu-option:hover {
  background: #298FCA;
  color:white;
}



.card-wrapper {
  margin-left: 4px;
  margin-right: 2px;
  margin-bottom: 6px;
  padding-left: 5px;
  padding-right: 9px;
}

.card {
  cursor: pointer;
  display:block;
  position:relative;
  font-weight: normal;
  background: #fff;
  font-size: 14px;
  border-radius: 3px;
  height:24px;
  line-height: 18px;
  width: 236px;
  margin:auto;
  border-bottom: 1px solid #ccc;
  padding: 6px 6px 2px 8px;
}

.card:hover {
  background:#EDEFF0;
}

.card:hover .card-menu-button {
  display:block;
}

.card-title {
  white-space: normal;
  word-wrap: break-word;
  margin-bottom: 4px;
}

.card-menu-button {
  display: none;
  cursor: pointer;
  position:absolute;
  top:0;
  right:0;
  padding:8px;
  font-size: 15px;
  line-height: 15px;
  color: #999;
}

.card-menu-button:hover {
  color:black;
}

.new-card-container {

}

.new-card-title {
  display:block;
  color: #8c8c8c;
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  font-weight: normal;
  padding: 8px 10px 8px 10px;
}

.new-card-title:hover {
  background:#CDD2D4;
}

.new-card-input {
  display:block;
  font-weight: normal;
  background: #fff;
  font-size: 14px;
  border-radius: 3px;
  width: 235px;
  margin:auto;
  border-bottom: 1px solid #ccc;
  padding: 6px 7px 4px 8px;
  margin-bottom: 6px;
}

.new-card-button {
  float:left;
  display:block;
}

.new-card-cancel {
  float:right;
  display: block;
}

/* Card Detail View */

.window-overlay {
  z-index: 10;
  background-color: rgba(0,0,0,.6);
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.window-content {
  width: 730px;
  position:absolute;
  border-radius: 3px;
  background: #EDEFF0;
  margin-top: 48px;
  left: calc(50% - 365px);
  display:block;
  z-index: 15;
  margin-left:auto;
  margin-right: auto;
}

.card-detail-view {
  position:relative;
  z-index: 16;
  display:block;
  min-height: 60px;
}

.card-detail-header {
  vertical-align: top;
  position:relative;
  margin: 4px 40px 4px 38px;
  padding: 12px 12px 0 12px;
  color: #8c8c8c;
}

.card-detail-title {
  color:#4D4D4D;
  display:inline;
  font-weight: bold;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 9px;
  margin-right: 4px;
}

.card-detail-cancel {
  position:absolute;
  padding: 6px;
  cursor: pointer;
  color: #8c8c8c;
  top: 0;
  right: 0;
  font-size: 20px;
  text-align: center;
  height:30px;
  width:30px;
  line-height: 30px;
  margin-bottom: 4px;
}

.card-detail-header-words {
  display:inline;
  font-size:14px;
}

.card-detail-header-list-title {
  display:inline;
  text-decoration: underline;
  font-weight: bold;
}

.card-detail-main {
  padding:8px 12px 12px 12px;
  width: 546px;
  padding: 8px 12px 12px 12px;
}

.edit-description {
  float:left;
  width: 472px;
  padding:6px 8px 6px 28px;
  margin: 2px 0;
  line-height: 18px;
}

.window-sidebar {
  position:relative;
  float:right;
}

.sidebar-action {
  cursor:pointer;
}

/* Comment section */

.comment-container {
  float:left;
  position:relative;
  display:block;

}

.comment-container {
  float:left;
}

/* Auth React components :*/

.auth-form-window {
  position:absolute;
  background: #0079BF;
  height:100%;
  width:100%;
}

.auth-form-container {
  position:absolute;
  display:block;
  background: #E2E4E6;
  color: #4D4D4D;
  border-radius: 3px;
  width: 300px;
  padding:7px;
  top: calc(50% - 85px);
  left: calc(50% - 150px);
}

.auth-form-title {
  display:block;
  text-align: center;
  margin-bottom: 6px;
}

.auth-form > label {
  display:block;
  text-align: center;
}

.auth-form-input {
  display:block;
  text-align: left;
  margin:auto;
  background: white;
  border-radius: 3px;
  font-size: 14px;
  width: 240px;
  border-bottom: 1px solid #ccc;
  padding: 6px 7px 4px 8px;
  margin-bottom: 6px;
}

.auth-form-button {
  float:left;
  cursor:pointer;
  margin-left: 25px;
  background: #61bd4f;
  color:white;
  border-radius: 3px;
  font-weight: 700;
  padding: 5px 10px;
}

.guest-form-button {
  margin-left:5px;
}


 /* scrollbar styling - may or may not implement in final version*/

 ::-webkit-scrollbar {
   background-color: rgb(0, 121, 191);
   height:14px;
   width:14px;
 }

 ::-webkit-scrollbar-thumb {
   background-color: #4F96BF;
   border-radius: 5px;

 }

 ::-webkit-scrollbar-track-piece {
   background: #026aa7;

 }
